
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# CI/CD & Deployment
deploy_key
deploy_key.pub
*.pem
*.key
ssh_config

_archived/
_archived/
